#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PREFIX := debian/duplicity/usr


ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -g
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif


# we use dpatch
include /usr/share/dpatch/dpatch.make


configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	touch configure-stamp


build: build-stamp

build-stamp: patch configure-stamp 
	dh_testdir

	# patch first
	#test -f build-patched || cat debian/patches/* | patch -l -p0
	#touch build-patched

	# Add here commands to compile the package.
	#$(MAKE)
	python setup.py build
	rm -f
	
	touch build-stamp
	
clean: clean1 unpatch
clean1:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

		# Add here commands to clean up after the build process.
	#-$(MAKE) clean
	rm -rf *.pyc
	rm -rf build

	# unpatch
	#-test -f build-patched && cat debian/patches/* | patch -R -p0 && rm build-patched

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into debian/duplicity.
	python setup.py install --prefix=$(PREFIX) --no-compile

	# remove GnuPGInterface.py as we already have it in
	# python-gnupginterface
	rm -f $(PREFIX)/lib/python2.4/site-packages/duplicity/GnuPGInterface.py

	# fix permission for tarfile.py
	chmod 755 $(PREFIX)/lib/python2.4/site-packages/duplicity/tarfile.py
	
	# remove docs as we create them with debhelper
	rm -rf $(PREFIX)/share/doc/duplicity-0.4.2


# Build architecture-independent files here.
binary-indep: build install

# Build architecture-dependent files here.
binary-arch: build install
	dh_pycentral
	dh_python
	dh_testdir
	dh_testroot
#	dh_installdebconf	
	dh_installdocs
	dh_installexamples
#	dh_installmenu
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
	dh_installman
#	dh_installinfo
#	dh_undocumented
	dh_installchangelogs CHANGELOG
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
#	dh_perl
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
